@charset "utf-8";
@font-face {
	font-family: 'Voltaire';
	src: url('Voltaire-Regular.ttf') format('truetype');
	font-family: 'Montserrat';
	src: url('Montserrat-Regular.ttf') format('truetype');
}
.container {
	background-color: #CCC;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
.header {
	background-attachment: scroll;
	background-image: url(header.gif);
	background-repeat: no-repeat;
	height: 200px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
.paragraphdiv {
	float: left;
	height: 150px;
	width: 660px;
	padding-left: 25px;
}

.headertype {
	text-align: right;
	float: right;
	height: 30px;
	width: 480px;
	padding-right: 90px;
	padding-top: 160px;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
}
.bodystyle {
	background-color: #FFF;
	width: 660px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 150px;
	padding-left: 150px;
	font-family: 'Viga', sans-serif;
	font-family: 'Montserrat';
	font-family: 'Voltaire';
	float: left;
}
.menudiv {
	height: 15px;
	width: 200px;
	padding-top: 10px;
	padding-left: 10px;
}
