@charset "utf-8";

@font-face {
	font-family: 'Rokkitt', serif;
	src: url('Rokkitt-Medium.ttf');
}

.Container {
	background-color: #FFFFFF;
	width: 860px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
}
.Footer {
	width: 860px;
	position: absolute;
}
.Header {
	background-color: #c4b7bf;
	margin-left: auto;
	margin-right: auto;
	width: 860px;
	height: 200px;
}

.boulderimg {
	float: left;
	padding-right: 20px;
}

.mr {
	padding-top: 50px;
	color: #000;
}

.pres {
	color: #000;
	margin-top: -10px;
	padding-bottom: 20px;
}

.headimg {
	width: 860px;
	float: left;
}

.divider {

	background-repeat: no-repeat;
	background-position: bottom;
	margin-left: auto;
	margin-right: auto;
	width: 860px;
}

.fest {
	float: right;
	height: 30px;
	width: 100px;
	margin-top: -32px;
	margin-left: 100px;
}

.spacenav {
	height: 30px;
	width: 100px;
	margin-left: 350px;
	margin-top: 30px;
}
.spacenav2 {
	height: 30px;
	width: 100px;
	vertical-align: top;
	float: left;
	margin-top: -32px;
}


.Bodystyle {
	background-color: #FFF;
	width: 860px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	background-image: url(bodybgimg.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	background-attachment: scroll;
}

.body {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
