@charset "utf-8";
.bg {
	background-image:url(background.gif);
	background-color: #ed6e4c;
	background-repeat:no-repeat;
	background-position:bottom left;
	background-attachment:fixed;
}
.container {
	background-color: #dcb02a;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
.header {
	background-color: #CCC;
	height: 240px;
	width: 960px;
	margin-top: -15 px;
	background-repeat: no-repeat;
	position: static;
	left: 7px;
	top: 8px;
	font-family: Cuprum;
	background-image: url(header.gif);
}
.box2 {
	background-image: url(box2.gif);
	background-repeat: no-repeat;
	height: 343px;
	width: 320px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 50px;
	font-family: 'Roboto Condensed', sans-serif;
	margin-bottom: -10px;
}
.subheader2 {
	background-image: url(subheader2.gif);
	background-repeat: no-repeat;
	height: 260px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}

.subheader {
	background-image: url(subheader1.gif);
	height: 260px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	background-repeat: no-repeat;
}


.box1 {
	background-image: url(box1bg.png);
	background-repeat: no-repeat;
	float: left;
	height: 343px;
	width: 320px;
	background-color: #ED6E4C;
	font-family: 'Roboto Condensed', sans-serif;
}

.ImageBorder {
    border-width: 5px;
    border-color: #FFF;
}
.Box3 {
	background-image: url(box3.gif);
	background-repeat: no-repeat;
	float: right;
	height: 340px;
	width: 320px;
	clear: right;
	margin-top: -383px;
	font-family: 'Roboto Condensed', sans-serif;

}

.boxescontainer {
	background-image: url(divbg.jpg);
	background-repeat: no-repeat;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	background-color: #DBB12B;
	margin-bottom: -60px;
}

.Bodystyle {
	background-color: #ED6E4C;
	width: 960px;
	background-image: url(bodybgrepeat.gif);
	background-attachment: scroll;
	background-repeat: repeat-y;
	position: relative;
	left: auto;
	right: auto;
	margin-top: -20px;
	margin-right: auto;
	margin-left: auto;
	background-position: 0.5px;
	padding-top: 25px;
}
.footer {
	background-color: #ED6E4C;
	height: 70px;
	width: 945px;
	background-image: url(footer.png);
	margin-top: -20px;
	margin-right: auto;
	margin-left: auto;
	background-repeat: no-repeat;
	padding-top: 30px;
	padding-left: 15px;
}
.indexfooter {
	background-image: url(footertest.png);
	background-repeat: repeat-x;
	height: 50px;
	width: 935px;
	padding-top: 20px;
	margin-top: -80 px;
	margin-right: auto;
	margin-left: auto;
	background-color: #DBB12B;
	margin-bottom: -40px;
	padding-left: 25px;
}
.Headertext {
	font-family: 'Roboto Condensed';
	color: #FFF;
	display: inherit;
	position: static;
	font-size: 24px;
	padding-top: 102px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 375px;
}
.spacer2 {
	width: 75px;
	padding-right: 50px;
}
